// fonts


$anton : 'Anton', sans-serif; // headings and sub-headings
$bungee : 'Bungee', cursive; // heading and sub-heading 
$cardo : 'Cardo', serif; // paragraph
$dancing : 'Dancing Script', cursive; // paragraph italic
$hallelujah : 'Gloria Hallelujah', cursive; // paragraph styled
$langar : 'Langar', cursive; // styled bold for sub-headings
$lato : 'Lato', sans-serif; // paragraphs
$noto : 'Noto Sans JP', sans-serif; // for paragraphs
$oswald : 'Oswald', sans-serif; //paragraph but bold
$pacifico : 'Pacifico', cursive; //paragraph italic bold styled
$permanent-marker : 'Permanent Marker', cursive; // heading and sub-heading
$rubik : 'Rubik', sans-serif; //paragraph
$ubuntu : 'Ubuntu', sans-serif; //paragraph
$ultra : 'Ultra', serif; // heading
