
// header 
.header 
{
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  text-align: center;
  background: white;
  h1 
  {
    font-family: $anton;
    letter-spacing: 3px;
    font-size: 38px;
    padding: 25px 0;
  }
  p 
  {
    font-family: $hallelujah;
    font-size: 20px;

    span 
    {
      background: black;
      color: white;
      padding: 10px;
    }
  }
}